# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
env/
ENV/

# Distribution / Packaging
build/
dist/
*.egg-info/
*.egg

# PyInstaller
*.spec
*.manifest

# Testing / Coverage
.coverage
.coverage.*
.pytest_cache/
.tox/
htmlcov/

# IDEs
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Environment Variables
.env

# Python Analysis Tools
.pyre/
.mypy_cache/
.ruff_cache/

# Operating System Files
.DS_Store
Thumbs.db

# Microsoft Office Temporary Files
~$*.xlsx
~$*.xls

# Temporary Files
tempCodeRunnerFile.py
